:root{
  --primary: #645cff;
  --white: #fff;
  --light-shadow: 0 5px 15px rgba(124, 78, 109, 0.1);
  --transition: all 0.3s linear;
  --primary-700: hsl(205, 86%, 17%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-white: #fff;
  --dark-blue: #446776;
  --blue-medium: #597a88;
  --medium-dark-blue: #71A0B2;
  --medium-blue: #A5C1CF;
  --light-blue: #B8CBD9;
  --white-blue: #eaf4f4;
  --medium-orange: #DB966B;
  --max-width: 1170px;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --radius: 0.25rem;
    background: url('/Users/kmthomas/code/photographer_project/public/images/background-blue-white.jpg') center/cover no-repeat;
    
  
}


.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

style {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #f2f4f8; */
  width: 100%
}

.title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 4rem;
}

.title-photography {
  text-align: center;
  font-size: xx-large;
  text-transform: capitalize;
  margin-bottom: 3.0rem;
  margin-top: 3.0rem;
  font-family: 'Handlee', cursive;
  font-family: 'Sansita', sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 300;
  color: var(--dark-blue);
  
}
.underline {
  width: 6rem;
  height: 0.25rem;
  background: var(--clr-grey-5);
  margin-left: auto;
  margin-right: auto;
}

.title-underline {
  width: 7rem;
  height: 0.25rem;
  background: var(--clr-grey-5);
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}

/* .btn {
  background: #645cff;
  color: #fff;
  border: none;
  border-radius: 0.25 rem;
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.25 rem;
  display: block;
  width: 200px;
  margin: 1 rem auto;
} */



/* Hero Section*/
.hero{
  min-height: 70vh;
  background: var(--medium-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner{
  text-align: center;
  color: var(--clr-white);
  padding: 0 3rem;
}
.hero-banner h1{
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: 'Handlee', cursive;
  font-family: 'Sansita', sans-serif;
}
.hero-banner p{
  max-width: 35 rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--clr-white);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.hero-btn{
  padding: 0.9 rem 1.6rem;
  font-size: 1.25rem;
  background: var(--clr-white);
  color: var(--clr-primary-5);
}
.hero-btn:hover{
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-grey-1);
}

@media screen and (min-width: 768px) {
  .hero{
    background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)), url('/Users/kmthomas/code/photographer_project/public/images/pexels-water.jpg') center/cover no-repeat;
    min-height: 90vh;
  }
  .hero-banner{
    max-width: 45 rem;
  }
  
  .hero-banner p{
    max-width: 45rem;
  }
}

/*Studio*/
.studio-article{
  padding-top: 1rem;
  justify-content:space-evenly;
  align-items: center;
  width: max-width;
  display: grid;
  background: var(--medium-dark-blue);
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));

}
.studio-text-div{
  color: var(--white-blue);
  width: max-width;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;

}
.studio-text-div p {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 1;

}
.studio-article h1{
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-family: 'Handlee', cursive;
  font-family: 'Sansita', sans-serif;
  font-size: xx-large;
  padding-bottom: 1rem;
}


/*Biography*/
.biography-article{
  padding-top: 6rem;
  width: max-width;
  padding-bottom: 6rem;
  justify-content:space-evenly;
  align-items: center;
  display: grid;
  background: var(--medium-orange);
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));

}
.biography-text-div{
  color: yellow;
  width: 400px;
  height: 400px;
  text-align: center;
  padding-left: 1.5rem;
}
.biography-text-div p {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-family: 'Handlee', cursive;
  line-height: 1.8;

}
.biography-article h1{
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-family: 'Handlee', cursive;
  font-family: 'Sansita', sans-serif;
  font-size: xx-large;
}

.biography-photo-div{
  width: 400px;
  height: 400px;
  text-align: center;
  padding-right: 1.5rem;
}
.biography-photo-div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 8px solid #446776;
}



/*tours css*/
.title {
  margin-top: 3rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-align: center;
  color: #6b9080;
}
main{
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
}

.single-tour {
  background-color: var(--white-blue);
  border-radius: var(--radius);
  margin: 2rem 0;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  position: relative;

}
.single-tour:hover {
  box-shadow: var(--dark-shadow);
}

.img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.tours{
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
}
.tour-price {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--clr-primary-5);
  background: var(--clr-primary-10);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  letter-spacing: .1rem ;
}

.tour-info{
  padding: 1.0rem 1.5rem;
}
.tour-info h5 {
  font-family: 'Handlee', cursive;
  font-family: 'Sansita', sans-serif;
  font-size: larger;
  text-align: center;
  margin-bottom: 1rem;

  line-height: 1.5;
}

.tour-info p {
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: var(--clr-grey-3);
}

.delete-btn {
  display: block;
  font-family: 'Handlee', cursive;
  font-family: 'Sansita', sans-serif;
  width: 300px;
  margin: 1rem auto 0 auto;
  letter-spacing: var(--spacing);
  background: transparent;
  padding: 0.25rem 0.5rem;
  border-radius: 1px solid var(--dark-shadow);
}
.delete-btn:hover {
  background: var(--clr-grey-10);
  color: var(white);
}

.info-btn{
  background: transparent;
  color: var(--medium-dark-blue);
  font-weight: 600;
  border: none;
}
.info-btn:hover{
  color: var(--clr-primary-5);
}
@media screen and (min-width: 768px){
  .tours{
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}
}
@media screen and (min-width: 992px){
  .tours {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}
}


/*Footer*/

.footer {
  margin-top: 5rem;
  text-align: center;
  padding: 3px;
  background-color: var(--medium-orange);
  color: white;
}
/*Form*/

.form-div{
  display: flex;
  padding-top: 3rem;
  justify-content: center;
}
.form {
    width: 500px;
    background: var(--medium-dark-blue);
    padding: 2rem;
    margin-top: 1rem;
}

.form h2 {
  color: var(--white-blue);
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 200;
  font-size: xx-large;
  font-family: 'Handlee', cursive;
  font-family: 'Sansita', sans-serif;
}

/*Portfolios css*/
.title-portfolio {
  margin-top: 3rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--dark-blue);
}
.main{
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
}

.main-portfolio-div{
  background: transparent;
}
.idk{
    padding: 1.0rem 1.5rem;
}
.single-portfolio {
  background-color: var(--white-blue);
  border-radius: var(--radius);
  margin: 2rem 0;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  position: relative;

}
.single-portfolio:hover {
  box-shadow: var(--dark-shadow);
}

.img-portfolio{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

/*changed gap from 2rem*/
.portfolios{
  padding: 2rem 0;
  display: grid;
  gap: 1rem;
  
}
.portfolio-price {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--clr-primary-5);
  background: var(--clr-primary-10);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  letter-spacing: .1rem ;
}

.portfolio-info{
  padding: 1.0rem 1.5rem;
}
.portfolio-info h5 {
  font-family: 'Handlee', cursive;
  font-family: 'Sansita', sans-serif;
  font-size: larger;
  text-align: center;
  margin-bottom: 1rem;

  line-height: 1.5;
}

.portfolio-info p {
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: var(--clr-grey-3);
}

.delete-portfolio-btn {
  display: block;
  font-family: 'Handlee', cursive;
  font-family: 'Sansita', sans-serif;
  width: 300px;
  margin: 1rem auto 0 auto;
  letter-spacing: var(--spacing);
  background: transparent;
  padding: 0.25rem 0.5rem;
  border-radius: 1px solid var(--dark-shadow);
}
.delete-portfolio-btn:hover {
  background: var(--clr-grey-10);
  color: var(white);
}

.info-portfolio-btn{
  background: transparent;
  color: #005f73;
  font-weight: 600;
  border: none;
}

.info-portfolio-btn:hover{
  color: var(--clr-primary-5);
}

/* @media screen and (min-width: 768px){
  .portfolios{
    grid-column-start: auto;
  }
} */

@media screen and (min-width: 500px){
  .portfolios{
    grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
    align-items: start;
  }
  
}